  {% load static %}

        <section id="clients" class="clients">
            <div class="container">
                <div class="title">
                    <h3 class="capital">
                        our clients
                    </h3>
                </div>
                <p class="center-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut
                    viverra mollis, leo lacus gravida ante, porttitor
                </p>

                <div class="owl-carousel clients-carousel">
                    <div class="clients-card" data-aos="fade-down" data-aos-duration="1000">
                        <img src="{% static 'img/client-1.png' %}" class="client-logo img-fluid" loading="lazy">
                    </div>
                    <div class="clients-card" data-aos="fade-down" data-aos-duration="1400">
                        <img src="{% static 'img/client-2.png' %}" class="client-logo img-fluid" loading="lazy">
                    </div>
                    <div class="clients-card" data-aos="fade-down" data-aos-duration="1900">
                        <img src="{% static 'img/client-3.png' %}" class="client-logo img-fluid" loading="lazy">
                    </div>
                    <div class="clients-card" data-aos="fade-down" data-aos-duration="2400">
                        <img src="{% static 'img/client-4.png' %}" class="client-logo img-fluid" loading="lazy">
                    </div>
                </div>

            </div>
        </section>
