{% load static %}


<div class="floating">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="count">
                    <i class="fal fa-plus" data-aos="fade-down"></i>
                    <div class="d-flex flex-column">
                            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="2"
                                  class="counter purecounter"></span>
                        <p>
                            Consultation
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="count">
                    <i class="fal fa-plus" data-aos="fade-down"></i>
                    <div class="d-flex flex-column">
                            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="2"
                                  class="counter purecounter"></span>
                        <p>
                            Consultation
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="count">
                    <i class="fal fa-plus" data-aos="fade-down"></i>
                    <div class="d-flex flex-column">
                            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="2"
                                  class="counter purecounter"></span>
                        <p>
                            Consultation
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="count">
                    <i class="fal fa-plus" data-aos="fade-down"></i>
                    <div class="d-flex flex-column">
                            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="2"
                                  class="counter purecounter"></span>
                        <p>
                            Consultation
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-auto col-md-3 col-sm-4 col-6">
                <div class="count">
                    <i class="fal fa-plus" data-aos="fade-down"></i>
                    <div class="d-flex flex-column">
                            <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="2"
                                  class="counter purecounter"></span>
                        <p>
                            Consultation
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>