   {% load static %}
    <section id="services" class="services">
      <div class="container">
        <h3 class="h3 text-center">
          What We Do?
        </h3>
        <p class="center-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque ut
          viverra mollis, leo lacus gravida ante, porttitor
        </p>
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="{% static 'img/img-entrepreneurship.png' %}" class="img-fluid">
          </div>
          <div class="col-lg-7 col-md-8 col-11 m-auto">
            <div class="border-title">
              <h5 class="h5">Entrepreneurship</h5>
            </div>
            <p class="left-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitor Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Praesent non vehicula elit. Nulla semper, neque ut viverra mollis, leo lacus gravida ante, porttitor
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitor
            </p>
            <div class="buttons">
              <a class="uppercase secondary-btn" href="#">get it now</a>
              <a class="uppercase blackbrder-btn" href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
        <!-- < -->
        <div class="row">
          <div class="col-lg-7 col-md-8 col-11 m-auto order-2 order-md-1">
            <div class="border-title">
              <h5 class="h5">Software Development</h5>
            </div>
            <p class="left-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitor Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Praesent non vehicula elit. Nulla semper, neque ut viverra mollis, leo lacus gravida ante, porttitor
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitor
            </p>
            <div class="buttons">
              <a class="uppercase secondary-btn" href="#">get it now</a>
              <a class="uppercase blackbrder-btn" href="#">LEARN MORE</a>
            </div>
          </div>
          <div class="col-md-4 text-center order-1 order-md-2">
            <img src="{% static 'img/img-development.png' %}" class="img-fluid">
          </div>
        </div>
        <!-- > -->
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="{% static 'img/img-digital-marketing.png' %}" class="img-fluid">
          </div>
          <div class="col-lg-7 col-md-8 col-11 m-auto">
            <div class="border-title">
              <h5 class="h5">DIGITAL MARKETING</h5>
            </div>
            <p class="left-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitor Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Praesent non vehicula elit. Nulla semper, neque ut viverra mollis, leo lacus gravida ante, porttitor
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitor
            </p>
            <div class="buttons">
              <a class="uppercase secondary-btn" href="#">get it now</a>
              <a class="uppercase blackbrder-btn" href="#">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>