{% load static %}


<div class="inner-services">
    <div class="container">
        <div class="title">
            <h3 class="capital">
                What Do We Do
            </h3>
        </div>
        <p class="center-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque ut
            viverra mollis, leo lacus gravida ante, porttitor
        </p>
        <div class="row gx-0">
            <div class="col-lg-4 col-md-6 col-11 mx-auto" data-aos="fade-right" data-aos-duration="1000">
                <div class="inner-service-box">
                    <div class="service-icon">
                        <img src="{% static 'img/monitor-mobbile.svg' %}">
                    </div>
                    <h6>
                        web Development
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                        ut viverra mollis, leo lacus gravida ante, porttitor Nulla semper, neque ut viverra mollis, leo
                        lacus
                        gravida ante, porttitor
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                        ut
                        viverra mollis, leo lacus gravida ante, porttitor
                    </p>
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-11 mx-auto" data-aos="fade-right" data-aos-duration="1000">
                <div class="inner-service-box">
                    <div class="service-icon">
                        <img src="{% static 'img/mobile-twotone.svg' %}">
                    </div>
                    <h6>
                        Mobile Apps (Android & IOS)
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                        ut viverra mollis, leo lacus gravida ante, porttitor Nulla semper, neque ut viverra mollis, leo
                        lacus
                        gravida ante, porttitor
                    </p>
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-11 mx-auto" data-aos="fade-right" data-aos-duration="1500">
                <div class="inner-service-box">
                    <div class="service-icon">
                        <img src="{% static 'img/shop-twotone.svg' %}">
                    </div>
                    <h6>
                        Online Store
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                        ut
                        viverra mollis, leo lacus gravida ante, porttitor
                    </p>
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-11 mx-auto" data-aos="fade-right" data-aos-duration="2000">
                <div class="inner-service-box">
                    <div class="service-icon">
                        <img src="{% static 'img/designtools-twotone.svg' %}">
                    </div>
                    <h6>
                        Product Design
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                        ut
                        viverra mollis, leo lacus gravida ante, porttitor
                    </p>
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-11 mx-auto" data-aos="fade-right" data-aos-duration="2500">
                <div class="inner-service-box">
                    <div class="service-icon">
                        <img src="{% static 'img/eye-finger-cricle-twotone.svg' %}">
                    </div>
                    <h6>
                        Brand Identity Design
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                        ut
                        viverra mollis, leo lacus gravida ante, porttitor
                    </p>
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW!</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-11 mx-auto" data-aos="fade-right" data-aos-duration="3000">
                <div class="inner-service-box">
                    <div class="service-icon">
                        <img src="{% static 'img/video-vertical.svg' %}">
                    </div>
                    <h6>
                        Motion Graphics
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                        semper, neque
                    </p>
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW!</a>
                </div>
            </div>


        </div>
    </div>
</div>
