{% load static %}
        <div class="talk">
            <div class="consultation-text">
                <h3>
                    Wanna Talk To Us?
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut
                    viverra mollis, leo lacus gravida ante, porttitor Nulla semper, neque ut viverra mollis, leo lacus
                    gravida
                    ante, porttitor
                </p>
                <div class="buttons">
                    <a class="uppercase primary-btn" href="https://wa.me/0100">CONTACT US</a>
                </div>
            </div>
        </div>