{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="hero" class="hero-about"
             style="background-image: linear-gradient(to bottom, #000000C4 0%, #0000000D 100%), url('{% static 'img/bg-about.png' %}');">
        <div class="container d-flex align-items-center flex-column">
            <div class="heading">
                <h1 class="uppercase">
                    WE HELP YOUR BUSINESS SUCCEED
                </h1>
                <p>
                    We can help you by creating your identity from scratch to match the nature of your business and your
                    target segment with creative business solutions.
                </p>
                <div class="buttons">
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">freE CONSULTATION</a>
                    <a class="uppercase whitebrder-btn" href="{% url 'main:contact' %}">contact us</a>
                </div>
            </div>
        </div>
    </section>

    <main>
        {% include 'components/clients_component.html' %}
        <div class="about-page">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-8 col-sm-8">
                        <h2 class="h2" data-aos="zoom-in-down" data-aos-duration="1500">about us</h2>
                        <p class="left-p">
                            Trustegic is a marketing and software company based in Egypt that works with clients
                            worldwide, across different industries & we bridge gaps between business and target markets
                            by building a digital and social presence.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-2">
                        <img src="{% static 'img/featured-products.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="vision">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-7 col-sm-8">
                        <h2 class="h2">Our Vision</h2>
                        <p class="left-p">
                            In our area of focus, we want to be one of the leaders and empower our customers to manage
                            their business processes more effectively.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4" data-aos="fade-up">
                        <div class="bg">
                            <img src="{% static 'img/eye.svg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="message">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-4 col-sm-4 order-2 order-sm-1" data-aos="fade-down">
                        <div class="bg">
                            <img src="{% static 'img/send.svg' %}" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 order-1 order-sm-2">
                        <h2 class="h2">Our Message</h2>
                        <p class="left-p">
                            To be a brand, maybe it’s the reason for your success today
                            , we strive to be a part of your success.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mission">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-7 col-sm-8">
                        <h2 class="h2">Our Mission</h2>
                        <p class="left-p">
                            Our mission is to enhance the business growth of our customers with creative high-quality
                            solutions
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4" data-aos="fade-up">
                        <div class="bg">
                            <img src="{% static 'img/target.svg' %}" class="img-fluid" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}
