{% extends 'base.html' %}
{% load static %}


{% block content %}

    <section id="hero" class="hero-partnership"
             style="background-image: linear-gradient(to bottom, #000000C4 0%, #0000000D 100%), url('{% static 'img/bg-consultation.png' %}');">
        <div class="container d-flex align-items-center flex-column">
            <div class="heading">
                <h1>
                    <span>
                        Do You Need A Consultation ?
                    </span>
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut viverra mollis, leo lacus gravida ante, porttitor lobortis nulla nulla volutpat neque.
                </p>
                <div class="buttons">
                    <a class="uppercase whitebrder-btn" href="{% url 'main:consultation' %}">GET IT NOW</a>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/counter.html' %}


    <main>
        {% include 'components/clients_component.html' %}
        <section class="report">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="border-title">
                            <h4 class="h4">Why Would Your Business</h4>
                        </div>
                        <div class="border-title">
                            <h4 class="h4">Need A Conultation?</h4>
                        </div>
                        <p class="left-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla
                            semper, neque ut viverra mollis, leo lacus gravida ante, porttitor
                        </p>
                        <a class="uppercase secondary-btn" href="{% url 'main:consultation' %}">LET'S TALK</a>
                    </div>
                    <div class="col-md-4 text-right text-sm-center">
                        <img src="{% static 'img/meeting.svg' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <section id="features" class="features">
            <div class="container">
                <div class="title">
                    <h3 class="h3 capital">
                        why us?
                    </h3>
                </div>
                <p class="center-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut
                    viverra mollis, leo lacus gravida ante, porttitor
                </p>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-11 m-auto" data-aos="fade-left" data-aos-duration="1000">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <img src="{% static 'img/icon-wallet-check.svg' %}">
                            </div>
                            <h5>
                                real value
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit.
                                Nulla semper, neque
                                ut
                                viverra mollis, leo lacus gravida ante, porttitor
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-11 m-auto" data-aos="fade-left" data-aos-duration="1500">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <img src="{% static 'img/icon-global.svg' %}">
                            </div>
                            <h5>
                                Global Expansion
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit.
                                Nulla semper, neque
                                ut
                                viverra mollis, leo lacus gravida ante, porttitor
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-11 m-auto" data-aos="fade-left" data-aos-duration="2000">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <img src="{% static 'img/icon-activity.svg' %}">
                            </div>
                            <h5>
                                Business Development
                            </h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit.
                                Nulla semper, neque
                                ut
                                viverra mollis, leo lacus gravida ante, porttitor
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container">
                <h3 class="h3 text-center">
                    Contact Us
                </h3>
                <p class="center-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut
                    viverra mollis, leo lacus gravida ante, porttitor
                </p>
                <div class="bg">
                    <div class="row justify-content-evenly align-items-center">
                        <div class="col-lg-5 col-md-5 mb-4">
                            <div class="border-title">
                                <h4 class="h4">How Much It Cost?</h4>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit.
                                Nulla semper, neque
                                ut viverra mollis, leo lacus gravida ante, porttitor
                            </p>
                            <div class="border-title">
                                <h4 class="h4">Old School ! Come Visit Us</h4>
                            </div>
                            <div class="info">
                                <img src="{% static 'img/icon-pin.svg' %}">
                                <a href="#">
                                    Egypt , Mansoura , Ahmed Maher Street
                                </a>
                            </div>
                            <div class="info">
                                <img src="{% static 'img/icon-phone.svg' %}">
                                <a href="tel:+201021489394">
                                    +201021489394
                                </a>
                            </div>
                            <div class="info">
                                <img src="{% static 'img/icon-whatsapp.svg' %}">
                                <a href="https://wa.me/+966538111700" target="_blank">
                                    +966538111700
                                </a>
                            </div>
                            <div class="info">
                                <img src="{% static 'img/icon-sms.svg' %}">
                                <a href="mailto:Info@Example.Com" target="_blank">
                                    Info@Example.Com
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 form">
                            <h5>Let's Have A Chat, Coffee On Us !</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit.
                                Nulla semper, neque
                                ut
                            </p>
                            <form method="post">
                                <div class="col-md-12 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Name"/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="tel" class="form-control" required name="phone" id="phone-number"
                                           placeholder="Phone Number"/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" required name="email" id="email"
                                           placeholder="E-Mail"/>
                                </div>

                                <div class="col-md-12 form-group">
                                    <select class="form-select form-control" aria-label="Default select example"
                                            name="consultation" id="cons">
                                        <option selected disabled>subject</option>
                                        {% for key,value in consultations %}
                                            <option value={{ key }}>{{ value }}</option>{% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-12 form-group">
                                    <select class="form-select form-control" aria-label="Default select example"
                                            name="meeting">
                                        <option selected value="online">Online</option>
                                    </select>
                                </div>
                                {#                                <div class="col-md-12 form-group row selections justify-content-between mx-0">#}
                                {#                                    <input type="datetime-local" class="col-3 form-control" required name="reservation"#}
                                {#                                           id="date"#}
                                {#                                           placeholder="Date"/>#}
                                {#                                    <select class="col-5 form-select form-control" id = 'day'></select>#}
                                {#                                    <select class="col-5 form-select form-control"></select>#}
                                {#                                </div>#}
                                <div class="col-md-12 form-group">
                                    <input type="" class="form-control date" required name="date" id="date"
                                           placeholder="MM/DD/YYYY" data-bs-toggle="modal"
                                           data-bs-target="#exampleModal"/>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" required name="message" rows="4"
                                              placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12 submit-box">
                                    {% csrf_token %}
                                    <button type="submit" class="secondary-btn" name="submit_form">SEND NOW</button>
                                </div>
                                <p id="test" style="display: none">{{ consultations }}</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <a><i class="fal fa-arrow-left"></i></a>
                        <h4 class="modal-title" id="exampleModalLabel">may</h4>
                        <a><i class="fal fa-arrow-right"></i></a>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body container-fluid">
                        <div>
                            <div>
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="list-sat-list"
                                       data-bs-toggle="list" href="#list-sat" role="tab" aria-controls="list-sat">
                                        <h6>sat</h6>
                                        <p>04/30</p>
                                    </a>

                                    <a class="list-group-item list-group-item-action" id="list-sun-list"
                                       data-bs-toggle="list" href="#list-sun" role="tab" aria-controls="list-sun">
                                        <h6>sun</h6>
                                        <p>05/01</p>
                                    </a>

                                    <a class="list-group-item list-group-item-action" id="list-mon-list"
                                       data-bs-toggle="list" href="#list-mon" role="tab" aria-controls="list-mon">
                                        <h6>mon</h6>
                                        <p>05/02</p>
                                    </a>

                                    <a class="list-group-item list-group-item-action" id="list-tue-list"
                                       data-bs-toggle="list" href="#list-tue" role="tab" aria-controls="list-tue">
                                        <h6>tue</h6>
                                        <p>05/03</p>
                                    </a>

                                    <a class="list-group-item list-group-item-action" id="list-wed-list"
                                       data-bs-toggle="list" href="#list-wed" role="tab" aria-controls="list-wed">
                                        <h6>wed</h6>
                                        <p>05/04</p>
                                    </a>

                                    <a class="list-group-item list-group-item-action" id="list-thu-list"
                                       data-bs-toggle="list" href="#list-thu" role="tab" aria-controls="list-thu">
                                        <h6>thu</h6>
                                        <p>05/05</p>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="list-sat" role="tabpanel"
                                         aria-labelledby="list-sat-list">
                                        <div class="time">
                                            <p>
                                                10:00pm
                                            </p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="list-sun" role="tabpanel"
                                         aria-labelledby="list-sun-list">
                                        <div class="time">
                                            <p>
                                                10:00pm
                                            </p>
                                        </div>
                                        <div class="time">
                                            <p>
                                                10:30pm
                                            </p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="list-mon" role="tabpanel"
                                         aria-labelledby="list-mon-list">
                                        <div class="time">
                                            <p>
                                                10:30pm
                                            </p>
                                        </div>
                                        <div class="time">
                                            <p>
                                                11:00pm
                                            </p>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="list-tue" role="tabpanel"
                                         aria-labelledby="list-tue-list">
                                        <div class="time">
                                            <p>
                                                9:30pm
                                            </p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="list-wed" role="tabpanel"
                                         aria-labelledby="list-wed-list">
                                        <div class="time">
                                            <p>
                                                8:30pm
                                            </p>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="list-thu" role="tabpanel"
                                         aria-labelledby="list-thu-list">
                                        <div class="time">
                                            <p>
                                                10:00pm
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="blackbrder-btn">Submit</a>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <script>

        document.getElementById('cons').addEventListener('change', function () {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch('{% url 'main:consultation' %}', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken
                },
                body: JSON.stringify({
                    'type': this.value,

                }),
            }).then(response => response.json())
                .then(result => {
                    let day = document.querySelector("#day")
                    let dates = result.av_dates
                    day.innerHTML = ""
                    showOptions(day, dates)

                })

        });

        function showOptions(el, values) {
            let condition = Object.keys(values).length
            if (condition > 0) {
                for (let value in values) {
                    let optionEl = document.createElement('option')
                    optionEl.value = value;
                    optionEl.innerText = `${value} ${values[value]}`
                    el.append(optionEl)
                }
            } else {
                el.innerHTML = ""
            }
        }

        day.addEventListener('change', postSelection)

        function postSelection(e) {
            console.log(e.target.value)
        }

    </script>

{% endblock %}


