{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section id="hero" style="background-image: linear-gradient(to bottom, #000000C4 0%, #0000000D 100%), url('{% static 'img/bg-header.png' %}');" >
    <div class="container d-flex align-items-center flex-column">
      <div class="heading">
        <h1 class="uppercase">
          WE HELP YOUR BUSINESS SUCCEED
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque ut
          viverra mollis, leo lacus gravida ante, porttitor lobortis nulla nulla volutpat neque.
        </p>
        <div class="buttons">
          <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">freE CONSULTATION</a>
          <a class="uppercase whitebrder-btn" href="{% url 'main:contact' %}">contact us</a>
        </div>
      </div>
    </div>
  </section>

  <main>
{% include 'components/clients_component.html' %}
    <section id="features" class="features">
      <div class="container">
        <div class="title">
          <h3 class="h3 capital">
            Our features
          </h3>
        </div>
        <p class="center-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque ut
          viverra mollis, leo lacus gravida ante, porttitor
        </p>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-11 m-auto" data-aos="fade-left" data-aos-duration="1000">
            <div class="feature-box">
              <div class="feature-icon">
                <img src="{% static 'img/icon-wallet-check.svg' %}">
              </div>
              <h5>
                real value
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
                ut
                viverra mollis, leo lacus gravida ante, porttitor
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-11 m-auto" data-aos="fade-left" data-aos-duration="1500">
            <div class="feature-box">
              <div class="feature-icon">
                <img src="{% static 'img/icon-global.svg' %}">
              </div>
              <h5>
                Global Expansion
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
                ut
                viverra mollis, leo lacus gravida ante, porttitor
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-11 m-auto" data-aos="fade-left" data-aos-duration="2000">
            <div class="feature-box">
              <div class="feature-icon">
                <img src="{% static 'img/icon-activity.svg' %}">
              </div>
              <h5>
                Business Development
              </h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
                ut
                viverra mollis, leo lacus gravida ante, porttitor
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="bg">
              <img src="{% static 'img/logo.png' %}" class="img-fluid">
            </div>
          </div>
          <div class="col-md-8">
            <h2 class="h2">Who we are?</h2>
            <p class="left-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque
              ut viverra mollis, leo lacus gravida ante, porttitorLorem ipsum dolor sit amet, consectetur adipiscing
              elit. Praesent non vehicula elit. Nulla semper, neque ut viverra mollis, leo lacus gravida ante, porttitor
            </p>
            <a class="uppercase secondary-btn" href="{% url 'main:contact' %}">LEarn more</a>
          </div>
        </div>
      </div>
    </section>

{% include 'components/services_component.html' %}

    <section id="team" class="team">
      <div class="container">
        <h3 class="h3 text-center">
          Our Team
        </h3>
        <p class="center-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque ut
          viverra mollis, leo lacus gravida ante, porttitor
        </p>
        <div class="owl-carousel team-carousel">
          <div class="team-box">
            <img src="{% static 'img/team-2.jpg' %}" class="img-fluid">
            <h5>
              Ahmed Khaled
            </h5>
            <p>CEO</p>
          </div>
          <div class="team-box">
            <img src="{% static 'img/team-2.jpg' %}" class="img-fluid">
            <h5>
              Ahmed Khaled
            </h5>
            <p>CEO</p>
          </div>
          <div class="team-box">
            <img src="{% static 'img/team-2.jpg' %}" class="img-fluid">
            <h5>
              Ahmed Khaled
            </h5>
            <p>CEO</p>
          </div>
          <div class="team-box">
            <img src="{% static 'img/team-2.jpg' %}" class="img-fluid">
            <h5>
              Ahmed Khaled
            </h5>
            <p>CEO</p>
          </div>
        </div>
      </div>
    </section>

    <section class="consultation">
      <div class="consultation-text">
        <h1>
          Struggling ? Get A Free Consultation Now
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper, neque ut
          viverra mollis, leo lacus gravida ante, porttitor
        </p>
        <div class="buttons">
          <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW</a>
          <a class="uppercase whitebrder-btn" href="{% url 'main:contact' %}">LEARN MORE</a>
        </div>
      </div>
    </section>
      {% include 'components/contact_form.html' %}
  </main>
{% endblock %}
