{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section id="hero" class="hero-services"
             style="background-image: linear-gradient(to bottom, #000000C4 0%, #0000000D 100%), url('{% static 'img/bg-services.svg' %}');">
        <div class="container d-flex align-items-center flex-column">
            <div class="heading">
                <h1>
                    We <span>design</span> for your business
                </h1>
                <p>
                    Trustegic provide high quality, effective and efficient services. Our team are committed to provide
                    these services responsively.
                </p>
                <div class="buttons">
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">freE CONSULTATION</a>
                    <a class="uppercase whitebrder-btn" href="{% url 'main:contact' %}">contact us</a>
                </div>
            </div>
        </div>
    </section>

    <main>
        {% include 'components/clients_component.html' %}

        {% include 'components/services_component.html' %}
        <section class="consultation">
            <div class="consultation-text">
                <h1>
                    Struggling ? Get A Free Consultation Now
                </h1>

                <div class="buttons">
                    <a class="uppercase primary-btn" href="{% url 'main:consultation' %}">GET IT NOW</a>
                    <a class="uppercase whitebrder-btn" href="{% url 'main:contact' %}">LEarn more</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
