{% extends 'base.html' %}
{% load static %}


{% block content %}
<section id="hero" class="hero-services" style="background-image: linear-gradient(to bottom, #000000C4 0%, #0000000D 100%), url('{% static 'img/bg-services.svg' %}');">
        <div class="container d-flex align-items-center flex-column">
            <div class="heading">
                <h2>
                    We <span>design</span> for your business
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut viverra mollis, leo lacus gravida ante, porttitor lobortis nulla nulla volutpat neque.
                </p>
                <div class="buttons">
                    <a class="uppercase primary-btn" href="#">freE CONSULTATION</a>
                    <a class="uppercase whitebrder-btn" href="contact.html">contact us</a>
                </div>
            </div>
        </div>
    </section>

    <main>
{% include 'components/clients_component.html' %}

{% include 'components/services_component.html' %}
        <section class="consultation">
            <div class="consultation-text">
                <h3>
                    Struggling ? Get A Free Consultation Now
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non vehicula elit. Nulla semper,
                    neque ut
                    viverra mollis, leo lacus gravida ante, porttitor
                </p>
                <div class="buttons">
                    <a class="uppercase primary-btn" href="#">GET IT NOW</a>
                    <a class="uppercase whitebrder-btn" href="#">LEarn more</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}